COMPOSE_PROJECT_NAME=calf-wrapper
CALF_WRAPPER_DATA_ROOT=/mnt/raid0/calf-eval-wrapper/.dockerdata

POSTGRES_DB=calf_wrapper_mlflow
POSTGRES_USER=calf_wrapper
POSTGRES_PASSWORD=replace-with-a-long-random-password

MINIO_ROOT_USER=calf_wrapper_minio
MINIO_ROOT_PASSWORD=replace-with-a-long-random-password
MINIO_BUCKET=calf-wrapper-artifacts

MLFLOW_PORT=5001
MINIO_API_PORT=9030
MINIO_CONSOLE_PORT=9031
